* {
  font-family: "Nunito", sans-serif;
}
body {
  padding-top: 80px;
}

/* Global Card Color */
.card .card-header {
  font-weight: 700;
  color: #f4f4f4;
  background-color: #6717fd;
}

.card .card-header h4 {
  font-weight: 700;
  color: #f4f4f4;
  background-color: #6717fd;
}

/* Index_Page */
.navbar {
  background-color: #6717fd;
}

.navbar a {
  font-weight: 700;
}

.navbar .nav-link {
  font-weight: 500;
  color: #f4f4f4;
}

/* login_page */
.login_page {
  padding-top: 100px;
}
